# makepanda directories
/built*/
/thirdparty/
/targetroot/
/dstroot/

# Core dumps
core
core.*
vgcore.*
*.core

# Editor files/directories
*.save
*.save.1
*.sublime-workspace
.vscode/

# Temporary build files
/_vfsimporter.*
*.pdb
*.obj
*.o
*.gch
*.pch
/+DESC
/+MANIFEST
/pkg-plist

# Produced installer/executables
/*.exe
/*.deb
/*.rpm
/*.app
/*.pkg
/*.dmg
/*.whl
/*.txz

# CMake
/build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# Windows
Thumbs.db
ehthumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# Test tool cache directories
.tox/
.cache/
.pytest_cache/
direct/src/distributed/.idea/workspace.xml___jb_tmp___
direct/src/distributed/.idea/workspace.xml
direct/src/distributed/.idea/modules.xml
direct/src/distributed/.idea/misc.xml
direct/src/distributed/.idea/distributed.iml
Panda3D-1.10.0-py3.7-x64-pdb.zip
direct/src/distributed/.idea/codeStyles/codeStyleConfig.xml
direct/src/distributed/.idea/inspectionProfiles/Project_Default.xml
